.paginator {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 40px;
  list-style: none;
}

.paginator li {
  font-weight: bolder;
  font-size: 25px;
}

.paginator li.selected {
  color: #21c2f8;
}
