{% extends 'profile/profile_base.html' %} {% block profile_content %}

<div class="settings">
  {% if request.user.is_authenticated and request.user.username == profile.username %}
  <div class="change">
    <h1>Profile picture:</h1>
    <a href="{% url 'change_pfp' %}">
      <button>Change profile picture</button>
    </a>
  </div>

  <div class="change">
    <h1>Username:</h1>
    <a href="{% url 'change_username' %}">
      <button>Change username</button>
    </a>
  </div>

  <div class="change">
    <h1>Password:</h1>
    <a href="{% url 'change_password' %}">
      <button>Change password</button>
    </a>
  </div>

  <div class="change">
    <h1>Social media:</h1>
    <a href="{% url 'social_media_links' request.user.username %}">
      <button>Add or edit links</button>
    </a>
  </div>
  {% else %}
  <h1>
    You don't have access to this page, or you just dont authenticated. Make sure
    you have entered the page address correctly and are logged into your account.
  </h1>
  <h2>
    If you are sure that everything is correct, please
    <a class="underline" href="{% url 'feedback' %}">contact us</a> (also possible via
    mail blogioma@mail.ru).
  </h2>
  {% endif %}
</div>

{% endblock %}
