/* Site with icons used here: https://iconer.app/iconoir/ */
@use "variables" as *;
@use "typography";
@use "forms";

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  font-family: "Inter", sans-serif;
  color: $white;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}

.wrapper {
  img,
  svg {
    height: 100%;
    width: 100%;
  }
}

.clickable {
  cursor: pointer;
}

main {
  box-sizing: border-box;
  min-height: 79.2vh;
}
