@use "@/app/styles/animations";

.profile-area {
  display: flex;
  gap: 30px;
  animation-name: blink;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

@media screen and (width <= 540px) {
  .profile-area {
    display: block;
  }
}
