.profile-area {
  display: flex;
  gap: 30px;
}

.profile-nav {
  border-right: 2px solid #f3f7f8;
  width: 275px;
}

.profile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.profile-nav ul li a {
  display: flex;
  align-items: end;
  gap: 5px;
}

.profile-nav ul li a .wrapper {
  width: 32px;
  height: 28px;
}

@media screen and (width <= 600px) {
  .profile-nav ul li a {
    font-size: 0;
  }

  .profile-nav ul li a .wrapper {
    width: 100%;
    height: 35px;
  }
}

@media screen and (width <= 540px) {
  .profile-area {
    display: block;
  }

  .profile-nav {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #f3f7f8;
    margin-bottom: 25px;
  }

  .profile-nav ul {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
  }
}

.profile-content {
  width: 100%;
}

.profile-content .articles {
  margin-top: 25px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.profile-info .profile-user {
  display: flex;
  align-items: end;
  gap: 15px;
  font-size: 30px;
  margin-bottom: 10px;
}

.profile-info .profile-user .wrapper {
  width: 133px;
  height: 115px;
}

.profile-info .social-media-links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.profile-info .social-media-links li .wrapper {
  display: inline-block;
  width: 40px;
  height: 40px;
}

/* Settings */
.settings {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.change h1 {
  margin-bottom: 10px;
}
